* {
    text-align: left;
    /* background-color: inherit; */
}


:root {
    --background: white;
    --darkText: #232323;
    --filterPercent : 0%;
    filter: invert(var(--filterPercent));
    background-color:  #fefefe;
    --theme : 'light'
}
html img{
    filter: invert(var(--filterPercent)) hue-rotate(0deg);
}
/* img:not([src*=".svg"]), video {  
    filter: invert(100%);
 } */

.course-container {
    width: 80%;
    margin-left: 20%;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    padding: 0.2rem 1.4rem;
    min-height: calc(100vh - 90px);
    z-index: 0;
    margin-top: 0px;
    align-items: flex-start;
    margin-top: 80px;
}

.course-heading-block {
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* background-color: #09A407; */
    align-items: flex-start;
}

.course-title {
    font-size: 40px;
    font-weight: 600;
    color: #232323;
    font-family: 'Poppins';
    letter-spacing: -0.4px;
}

.instructor-box {
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}
.instructor-box * {
	margin-right: 10px;
}




.checkbox-container {
    display: block;
    border: 3px solid #eeeeee;
    position: relative;
    margin: 0 15px;
    margin-bottom: 2px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    color: #232323;
    font-weight: 700;
    margin-top: 4px;
    padding: 10px 55px 10px 15px;
    transition: 0.3s;
    border-radius: 10px;
    margin-left: 0px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 12px;
    right: 0px;
    left: 130px;
    height: 20px;
    width: 20px;
    background-color: var(--background);
    border: 0.5px solid #d3d3d3;
    border-radius: 10px;
    transition: 0.3s;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #eee;
}
 
.checkbox-container input:checked ~ .checkmark {
    background-color: #09A407;
    border: 0.5px solid #09A407;
    transition: 0.3s;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-container .checkmark:after {
    left: 6.5px;
    top: 3.5px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    border-radius: 0.1px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.dropdown {
    border-radius: 50px;
}

.Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: var(--background);
    border: 3px solid #eee;
    border-radius: 7px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
  }


  .post-container {
      width: 100%;
      padding: 15px;
      border-radius: 7px;
      border: 3px solid #eee;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: var(--background);
      margin-bottom: 10px;
      min-height: 100px;
  }

  .post-image {
      width: 80px;
      /* height: 100%; */
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-right: 10px;
  }

  .post-image-base {
      width: 50px;
      height: 50px;
      background-color: #f6f6f6;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }

  .post-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
  }

  .post-info h6 {
      font-family: 'Poppins';
      font-weight: 400;
      color: #434343;
      font-size: 13.5px;
      text-transform: uppercase;
      margin: 0;
      letter-spacing: 0.4px;
      padding: 0;
      margin-top: 5px;
  }

  .post-info h3 {
    font-family: 'Poppins';
    font-weight: 500;
    color: #232323;
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}

.post-options {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
}

.post-options * {
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.student-box {
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
    padding-bottom: 15px;
}

.student-box-photo {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    overflow: hidden;
}

.student-box h5 {
    font-size: 17px;
    color: #232323;
    font-family: 'Poppins';
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.file-box {
    width: 100%;
    min-height: 70px;
    border: 3px solid #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    padding-right: 25px;
}

.file-box-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    margin-right: 15px;
}

.file-box-info h5 {
    font-family: 'Poppins';
    font-weight: 500;
    color: #232323;
    font-size: 17px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.assignment-upload {
    width: 35%;
    border: 2px solid #eee;
    margin-top: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}

.assignment-upload h5 {
    font-family: 'Poppins';
    font-weight: 500;
    color: #232323;
    font-size: 17px;
    text-align: left;
}

.uploaded-file {
    width: 100%;
    border: 2px solid #eee;
    display: flex;
    flex-direction: row;
    height: 70px;
    margin-top: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.uploaded-file h6 {
    font-family: 'Poppins';
    font-weight: 500;
    color: #232323;
    font-size: 15px;
    text-align: left;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.assignment-upload input[type="file"] , .file-upload{
    position: absolute;
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0); 
    height: 50px;
    width: 20%;
}

.new-post {
    position: fixed;
    right: 5vh;
    bottom: 5vh;
    z-index: 9999;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    box-shadow: 3px 3px 15px #ababab;
    cursor: pointer;
    background-color: #09A407;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.DayPickerInput input {
    height: 40px;
}


.DayPickerInput-wrapper {
    position: relative;
    flex-direction: row;
    user-select: none;
    width: 40px;
}

.DayPicker-Caption {
    font-size: 14px;
}

.DayPicker-Day {
    font-size: 13px;
}

.DayPicker-Weekdays {
    font-size: 14px;
    font-family: 'Poppins';
}

.DayPicker-Day:hover {
    background-color: transparent;
}


.my-courses-box {
    width: 100%;
    display: inline-block;
    align-items: stretch;
    text-align: left;
}

.course-box {
    width: 31%;
    height: 250px;
    border-radius: 15px;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    margin: 10px;
    /* box-shadow: 2px 2px 10px #eee; */
    cursor: pointer;
    margin-right: 15px;
    transition: 0.2s ease-in;
    /* border: 3px solid transparent; */
}
.course-box:hover {
    transform: scale(1.04);
    transition: 0.2s ease-in
}

.course-box-top {
    width: 103%;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    position: relative;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.course-box-bottom {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--background);
    border-width: 3px;
    border-style: solid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.course-box-top h3 {
    font-family: 'Poppins';
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    text-align: left;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 35px;
    padding-right: 10px;
}

.course-box-top h6 {
    font-family: 'Poppins';
    font-size: 15.5px;
    color: #eee;
    font-weight: 500;
    text-align: left;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 10px;
}

.students-box {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

.students-box-circle {
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 25px;
    top: 10px;
    background-color: #eee;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.students-box-circle img {
    width: 23px;
    height: 23px;
    margin-top: 3px;
}

.remove-user-icon {
    color: #ababab;
    transition: 0.1s ease-in;
}

.remove-user-icon:hover {
    color: #545454;
    transition: 0.1s ease-in;
}