.create-course-div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
	min-height: 60px;
	color: #000;
	font-size: 20px;
	width: 95%;
	height: 100%;
	margin-left: 8px;
}

.create-course-div:hover {
	background-color: #09A407;
	color: white;
}

input {
	width: 100%;
	border: 0.1px solid grey;
	padding: 10px;
}

.create-course-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.create-course-buttons button {
	margin-right: 10px;
	color: white;
}